body{
  margin: 0;
}
.containerText{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  display: grid;
  grid-template-columns: 17% auto 17%;
  grid-template-rows: auto;
  column-gap: 30px;
}

.blackeroo{
  background-color: black;
  /* margin: 0 60px 0 0; */
}

.blackeroo-r{
  background-color: black;
  /* margin: 0 60px 0 0; */
}

.midText p{
  margin-top: 70px;
  margin-bottom: 70px;
  line-height: 25px;
}



@media only screen and (max-width: 600px) {
  .containerText{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    display: grid;
    grid-template-columns: 35px auto 35px;
    grid-template-rows: auto;
    column-gap: 0px;
  }
  .blackeroo{
    background-color: white;
    /* margin: 0 60px 0 0; */
  }
  .blackeroo-r{
    background-color: white;
    /* margin: 0 60px 0 0; */
  }
}
