body{
  margin: 0;
}

@font-face {
  font-family: 'compagnon';
  src: url('https://centroculturalkappa.github.io/instrucciones/screen/ttf/compagnon-master/fonts/Compagnon-Medium.otf') format("opentype");
}
@font-face {
  font-family: 'compagnon-light';
  src: url('https://centroculturalkappa.github.io/instrucciones/screen/ttf/compagnon-master/fonts/Compagnon-Light.otf') format("opentype");
}

.itemLi{
  margin: 15px 10px;
}

.itemLi h3{
  font-family: "compagnon-light";
  margin: 0;
}

a{
  font-family: "compagnon-light";
  color: unset;
  text-decoration: none;
}
h2 {
	font-family: "compagnon";
	margin: 0;
	padding: 20px 10px;
	background-color: black;
	color: white;
}

.itemLi:hover{
  background-color: black;
  color: white !important;
}
