@font-face {
  font-family: 'compagnon';
  src: url('https://centroculturalkappa.github.io/instrucciones/screen/ttf/compagnon-master/fonts/Compagnon-Bold.otf') format("opentype");
}

.itemLi{
  margin: 15px 10px;
}

.itemLi h3{
  margin: 0;
}

h2{
  font-family: "compagnon";
  margin: 10px;
  padding: 20px 0;
}
